.language-switch {
}
.language-switch {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
}

.language-switch .lang-btn {
    background: none;
    border: none;
    color: #000;
    font-size: 14px;
    font-family: Averta PE Light;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 0 4px;
    transition: color 0.2s;
    margin: 0;
    height: 34px;
}

.language-switch .lang-btn:hover,
.language-switch .lang-btn:focus {
    outline: none;
    text-decoration: underline;
}

.language-switch .lang-separator {
    color: #000;
    font-size: 1em;
    user-select: none;
}

.language-switch .lang-btn.selected {
    color: black;
    font-family: Averta PE Bold;
}
